/* We've given you some basic styles to save you time. */
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333333; background-color: #f2f2f2; }
#main-content{ padding:25px; margin:30px auto; background-color: white; }
form div { margin-bottom:10px; }
form label { width:70px; text-align:right; color:#888888; display:inline-block; font-size:12px; }
form input { width:179px; margin-left:5px; padding:3px; border:1px solid #888888; border-radius:3px; display:inline-block; font-size:12px; }
form button { margin-left:80px; display: inline-block; padding: 2px 10px 2px 10px; background-image: linear-gradient(to bottom, #4e92ba, #307ca9); color:white; border:1px solid; border-color: #307ca9 #307ca9 #1f506d; border-radius:3px; font-size:13px; }


/* Card font: 13px and #333333 */

/* Put your styles here */
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.five.columns {
  width: 39.3333333333%;
}

.seven.columns {
  width: 56.6666666667%;
}

.card {
  width:100%;
  font-size: 13px;
  color: #333333;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top:5px;
  margin-right:5px;
  height: 10px;
  width: 10px;
  visibility: hidden;
}

img {
  width: 100%;
}

.image-wrapper {
  padding: 5px;
  height: 150px;
  width: 150px;
  border-right: 1px solid #CCCCCC;
}

.name-wrapper {
  padding-left:15%;
  padding-top:15%;
}

.cards:after {
  content: "";
  display: table;
  clear: both;
}

/* For devices larger than 500px */
@media (min-width: 500px) {
  .name-wrapper {
    padding-left:0;
  }
}

/* For devices larger than 760px */
@media (min-width: 760px) {
  #main-content {
    width:705px; border:1px solid #d3d3d3;
  }

  .cards {
    margin-left: -4%;
  }

  .columns {
    margin-left: 4%;
  }

  .columns:first-child {
    margin-left: 0;
  }

  .four.columns {
    width: 29.333333333%;
    margin-left: 4%;
  }

  .image-wrapper {
    height: 86px;
    width: 86px;
  }

  .name-wrapper {
    padding-left:10%;
  }
}
